{#
ISTO É UM EXEMPLO.

EU DEFINI UM TEMPLATE BASE QUE POSSUI ALGUNS BLOCOS CUSTOMIZÁVEIS.
USE ELES PARA CONSTRUIR A SUA PÁGINA DE ACORDO COM OS ARTEFATOS
QUE VOCÊ DESENVOLVEU.

OS BLOCOS DISPONÍVEIS SÃO:

- tituloDaPagina
- conteudoDaPagina
#}

{% extends "inc/base.html" %}


{% block tituloDaPagina %}
Registro de Auditoria
{% endblock %}

{% block conteudoDaPagina %}
<h1 class="mt-4">Registro de auditoria</h1>
<p class="small">O registro de auditoria permite visualizar o que está ocorrendo no sistema.</p>

<button class="btn btn-success" onclick="window.location.href='/auditoria/export.php'">
    <i class="fa fa-table" aria-hidden="true"></i>
    Exportar para Excel
</button>
<hr>

{{ include('inc/tabela.html', { 'COLUNAS_DA_TABELA': keys, 'CONTEUDO_DA_TABELA': result }) }}

{% endblock %}
