<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Olá, {{ username }}</h1>

    <a href="../soma.php">Faça uma soma usando um procedimento do banco de dados</a>
    <br>
    <br>
    <br>
    <br>
</body>
</html>