{# 
	ISTO É UM EXEMPLO.

	EU DEFINI UM TEMPLATE BASE QUE POSSUI ALGUNS BLOCOS CUSTOMIZÁVEIS.
	USE ELES PARA CONSTRUIR A SUA PÁGINA DE ACORDO COM OS ARTEFATOS
	QUE VOCÊ DESENVOLVEU.

	OS BLOCOS DISPONÍVEIS SÃO:

	- tituloDaPagina
	- conteudoDaPagina
#}

{% extends "inc/base.html" %}


{% block tituloDaPagina %}
	Página inicial
{% endblock %}

{% block conteudoDaPagina %}
	<h1 class="mt-4">
		Bem vindo, {{ session.name }}
	</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item active">Página inicial</li>
	</ol>

	<hr>

	<p>Use o menu lateral para acessar as funcionalidades do sistema. Clique em seu nome no canto superior direito para sair.</p>

{% endblock %}
