{#
ISTO É UM EXEMPLO.

EU DEFINI UM TEMPLATE BASE QUE POSSUI ALGUNS BLOCOS CUSTOMIZÁVEIS.
USE ELES PARA CONSTRUIR A SUA PÁGINA DE ACORDO COM OS ARTEFATOS
QUE VOCÊ DESENVOLVEU.

OS BLOCOS DISPONÍVEIS SÃO:

- tituloDaPagina
- conteudoDaPagina
#}

{% extends "inc/base.html" %}


{% block tituloDaPagina %}
Editais | Visão geral
{% endblock %}

{% block conteudoDaPagina %}

{% if cadastro_ok %}

<div class="alert alert-success mt-5 mb-5" role="alert">
    Edital cadastrado com sucesso!
</div>
{% endif %}

<h1 class="mt-4">Visão geral dos editais</h1>
<hr>

{{ include('inc/tabela.html', { 'COLUNAS_DA_TABELA': keys, 'CONTEUDO_DA_TABELA': editais }) }}

{% endblock %}
