<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EXPERIMENTO - INTERFACE PHP</h1>

    <hr>



    <!-- 
        Formulário de login.

        Envia os dados do usuário para que o servidor tente criar uma
        conexão com o banco de dados.
    -->
    <h1>Tente fazer login com um usuário existente no banco</h1>
    <p>Por exemplo: usuário=postgres, senha=postgres</p>
    <form method="POST" action="../login.php">

        <input type="text"
               name="username"
               placeholder="Username"
               required>

        <input type="password"
               name="password"
               placeholder="Password"
               required>
        
        {% if errorMessage %}
            <p>{{ errorMessage }}</p>
        {% endif %}

        <input type="submit" value="Login">
    </form>
</body>
</html>