<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>
		{% block tituloDaPagina %}E-andifes{% endblock %}
	</title>
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />

	<link href="/css/styles.css" rel="stylesheet" />
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" href="dashboard.php"> 
			<!-- Mesmo cenário do acima -->
			<img src="/assets/res/Logo-e-andifes.png" width="150px" />
		</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<div class="d-none d-md-inline-block form-inline ms-auto"></div>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					<i class="fas fa-user fa-fw"></i>
					<span class="d-none d-md-inline">{{ session.name }}</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li>
						<a class="dropdown-item" href="#!">Settings</a>
					</li>
					<li>
						<a class="dropdown-item" href="#!">Activity Log</a>
					</li>
					<li>
						<hr class="dropdown-divider" />
					</li>
					<li>
						<a class="dropdown-item" href="/logout.php">Sair</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<!-- MENU LATERAL -->
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Início</div>

						<!-- TODOS OS CARGOS PODEM ACESSAR A PÁGINA INICIAL -->
						<a class="nav-link {% if path == '/dashboard.php' %}active{% endif %}" href="/dashboard.php">
							<div class="sb-nav-link-icon">
								<i class="fas fa-home"></i>
							</div>
							Página inicial
						</a>
            
            			<!-- Posicionamento temporário para parte da interface de view_cursos -->
            			<a class="nav-link {% if path == '/cursos.php' %}active{% endif %}" href="cursos.php">
							<div class="sb-nav-link-icon">
								<i class="fa fa-graduation-cap" aria-hidden="true"></i>
							</div>
							Cursos
						</a>

						<!-- APENAS O GESTOR ANDIFES PODE ACESSAR O REGISTRO DE AUDITORIA -->
						{% if 'gestor_andifes' in session.cargos %}
							<a class="nav-link {% if path == '/auditoria/' %}active{% endif %}" href="/auditoria/">
								<div class="sb-nav-link-icon">
									<i class="fas fa-shield"></i>
								</div>
								Registro de auditoria
							</a>
						{% endif %}
						<a class="nav-link" href="#">
							<div class="sb-nav-link-icon">
								<i class="fas fa-calendar"></i>
							</div>
							Agenda
						</a>

						<!-- QUAIS CARGOS PODEM ACESSAR PÁGINAS DESTE MENU?? TODOS???? -->
						{% 
							if 'gestor_andifes' in session.cargos
							or 'gestor_ies' in session.cargos
						%}
							<div class="sb-sidenav-menu-heading">Administração</div>

							<!-- Editais -->
							<a class="nav-link {% if not ('/editais/' in path) %}collapsed{% endif %} {% if path starts with '/editais' %}active{% endif %}" href="#" data-bs-toggle="collapse"
								data-bs-target="#collapseEditais" aria-expanded="false" aria-controls="collapseEditais">
								<div class="sb-nav-link-icon">
									<i class="fas fa-file-contract"></i>
								</div>
								Editais
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							<div class="collapse {% if '/editais/' in path %}show{% endif %}" id="collapseEditais" aria-labelledby="headingOne"
								data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link {% if path == '/editais/' %}active{% endif %}" href="/editais/">Visão geral</a>
									<a class="nav-link {% if path == '/editais/cadastro_edital.php' %}active{% endif %}" href="/editais/cadastro_edital.php">Cadastrar edital</a>
								</nav>
							</div>

							<!-- Fichas -->
							<a class="nav-link {% if not (path starts with '/fichas/') %}collapsed{% endif %} {% if path starts with '/fichas_' %}active{% endif %}" href="#" data-bs-toggle="collapse"
								data-bs-target="#collapseFichas" aria-expanded="false" aria-controls="collapseFichas">
								<div class="sb-nav-link-icon">
									<i class="fas fa-rectangle-list"></i>
								</div>
								Fichas
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							<div class="collapse {% if path starts with '/fichas/' %}show{% endif %}" id="collapseFichas" aria-labelledby="headingOne"
								data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link {% if '/fichas/' == path %}active{% endif %}" href="/fichas/">Visão geral</a>
									<a class="nav-link {% if '/fichas/cadastro_ficha.php'== path %}active{% endif %}" href="/fichas/cadastro_ficha.php">Nova ficha</a>
									<a class="nav-link {% if '/fichas/cadastro_tipo_ficha.php'== path %}active{% endif %}" href="/fichas/cadastro_tipo_ficha.php">Novo tipo de ficha</a>
								</nav>
							</div>
							
							<!-- APENAS O GESTOR ANDIFES PODE ACESSAR A PÁGINA DE EDIÇÃO DA PÁGINA EXTERNA -->
							{% if 'gestor_andifes' in session.cargos %}
								<a class="nav-link {% if path == '/pagina-externa/' %}active{% endif %}" href="/pagina-externa/">
									<div class="sb-nav-link-icon">
										<i class="fas fa-globe"></i>
									</div>
									Página externa
								</a>
							{% endif %}
						{% endif %}

						
						
						<div class="sb-sidenav-menu-heading">Contatos</div>
						<a class="nav-link {% if path == '/parceiros/' %}active{% endif %}" href="/parceiros/">
							<div class="sb-nav-link-icon">
								<i class="fas fa-building"></i>
							</div>
							Parceiros
						</a>
						<a class="nav-link  {% if path == '/pessoas/' %}active{% endif %}" href="/pessoas/">
							<div class="sb-nav-link-icon">
								<i class="fas fa-users"></i>
							</div>
							Pessoas
						</a>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<i class="fas fa-id-card-clip fa-fw small"></i>
					{{ session.username }}
					{% for r in session.cargos %}
					<div class="small">#{{ r }}</div>
					{% endfor %}
				</div>
			</nav>
		</div>

		<!-- CONTEÚDO DA PÁGINA -->
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					{% block conteudoDaPagina %}{% endblock %}
				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					{% block rodape %}
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Your Website 2023</div>
						<div>
							<a href="#">Privacy Policy</a>
							&middot;
							<a href="#">Terms &amp; Conditions</a>
						</div>
					</div>
					{% endblock %}

				</div>
			</footer>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="/js/scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script src="assets/demo/chart-area-demo.js"></script>
	<script src="assets/demo/chart-bar-demo.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
		crossorigin="anonymous"></script>
	<script src="/js/datatables-simple-demo.js"></script>
</body>

</html>