<table id="datatablesSimple">
    <thead>
        <tr>
            {% for coluna in COLUNAS_DA_TABELA %}
                <th>{{ coluna }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            {% for coluna in COLUNAS_DA_TABELA %}
                <th>{{ coluna }}</th>
            {% endfor %}
        </tr>
    </tfoot>
    <tbody>
        {% for entrada in CONTEUDO_DA_TABELA %}
            <tr>
                {% for coluna in COLUNAS_DA_TABELA %}
                    {% if coluna == "Abrir" %}
                        <td>
                            <a href="{{ entrada[coluna] }}" class="btn btn-primary btn-sm">Abrir</a>
                        </td>
                    {% endif %}

                    {% if coluna != "Abrir" %}
                    <td>{{ entrada[coluna] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>